.section-pricing {
  padding: 9.6rem 0;
}

.pricing-plan {
  border-radius: 1.2rem;
  width: 75%;
}

.pricing-plan--starter {
  justify-self: end;
  border: 2px solid #fdf2e9;
  padding: 4.6rem;
}

.pricing-plan--complete {
  background-color: #fdf2e9;
  padding: 4.8rem;
  overflow: hidden;

  position: relative;
}

.pricing-plan--complete::after {
  content: "Best Value";
  font-size: 1.4rem;
  font-weight: 700;
  color: #333;
  background-color: #ffd43b;
  text-transform: uppercase;
  padding: 0.8rem 8rem;

  position: absolute;
  top: 6%;
  right: -18%;
  transform: rotate(45deg);
}

.plan-header {
  text-align: center;
  margin-bottom: 4.8rem;
}

.plan-name {
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.75;
  color: #cf711f;
  text-transform: uppercase;
  margin-bottom: 3.2rem;
}

.plan-price span {
  font-size: 3rem;
  font-weight: 500;
  margin-right: 0.8rem;
}

.plan-price {
  font-size: 6.2rem;
  font-weight: 600;
  color: #333;
  margin-bottom: 1.6rem;
}

.plan-text {
  font-size: 1.6rem;
  line-height: 1.6;
  color: #6f6f6f;
}

.plan-sign-up {
  text-align: center;
  margin-top: 4.8rem;
}

.plan-details {
  font-size: 1.6rem;
  line-height: 1.6;
  text-align: center;
}

.feature-icon {
  height: 3.2rem;
  width: 3.2rem;
  color: #e67e22;
  background-color: #fdf2e9;
  padding: 1.6rem;
  margin-bottom: 3.2rem;
  border-radius: 50%;
}

.feature-title {
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 1.6rem;
}

.feature-text {
  font-size: 1.8rem;
  line-height: 1.8;
}
