.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #fdf2e9;

  height: 9.6rem;
  padding: 0 4.8rem;

  /* FOR MOBILE NAVIGATION  */
  position: relative;
}
.logo {
  height: 2.2rem;
}

/* *********************************** */
/* NAVIGATION  */
/* *********************************** */
.main-nav-list {
  list-style: none;

  display: flex;
  align-items: center;
  gap: 4.8rem;
}

.main-nav-links:link,
.main-nav-links:visited {
  display: inline-block;
  font-size: 1.8rem;
  font-weight: 500;
  color: #333;
  text-decoration: none;

  transition: all 0.3s;
}

.main-nav-links:hover,
.main-nav-links:active {
  color: #cf711f;
}

.main-nav-links.nav-cta:link,
.main-nav-links.nav-cta:visited {
  background-color: #e67e22;
  color: #fff;
  padding: 1.2rem 2.4rem;
  border-radius: 0.9rem;
}

.main-nav-links.nav-cta:hover,
.main-nav-links.nav-cta:active {
  background-color: #cf711f;
}

/* MOBILE */
.btn-mobile-nav {
  border: none;
  background: none;
  cursor: pointer;

  display: none;
}
.icon-mobile-nav {
  height: 4.8rem;
  width: 4.8rem;
  color: #333;
}

/* HIDING THE MENU CLOSE BUTTON */
.icon-mobile-nav[name="close-outline"] {
  display: none;
}

.sticky .header {
  position: fixed;
  top: 0;
  bottom: 0;
  height: 8rem;
  width: 100%;
  padding-top: 0;
  padding-bottom: 0;
  background-color: rgba(255, 255, 255, 0.97);
  z-index: 999;
  box-shadow: 0 1.2rem 3.2rem rgba(0, 0, 0, 0.03);
}
